---
layout: layouts/base.njk
bodyClass: body-home
---
<div>
  <h2>Sami's Thoughts</h2>
  <p><em>Sami Badawi, Code, ML & Math</em></p>
  <p><em>Thoughts falling between a <a href="https:blog.samibadawi.com">real blog post</a> and a <a href="https://twitter.com/Sami_Badawi">tweet</a></em>.</p>
  <p>Under construction ...</p>
  <img src="/img/sami_badawi_2023_small.jpg" alt="Sami Badawi" />
</div>

{{ content | safe }}
