---
layout: layouts/base.njk
bodyClass: body-home
---
<div style="text-align: center;">
  <h1>Code, data and ML</h1>
  <p><em>Sami Badawi's thoughts on code, data and ML</em></p>
  <p><em>Thoughts falling between a <a href="https://blog.samibadawi.com">real blog post</a> and a <a href="https://twitter.com/Sami_Badawi">tweet</a></em>.</p>
  <p>Under construction ...</p>
  <img src="/img/sami_badawi_2023_small.jpg" style="border-radius: 50%;" alt="Sami Badawi" />
</div>
<hr>

{{ content | safe }}
